body
{
    background-image:url(https://wallpaperaccess.com/full/171015.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment:fixed;
}
.t1 img{
    width: 160px;
    height: 150px;
    border: 4px solid red;
    margin: 9px 9px;
}
.t1{
    margin-left: 350px;
    margin-top: 30px;
}
td{
    width: 200px;
    height: 200px;
    margin:auto;
}
body h2{
    margin: auto;
    color: red;
    text-decoration:underline;
    width:fit-content;
    font-size: 45px;
    margin-top: 150px;
    margin-left: 600px;
}
.t1 h2{
    margin-top: 30px;
}